# MongoDB Connection String
MONGO_URI=

# JWT Secret for Admin Authentication
JWT_SECRET=

# Upstash Redis Configuration (Optional for caching)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Cricket Score API Key
CRICAPI_KEY=

# Secure Token required by /proxy endpoint to prevent hotlinking
PROXY_TOKEN=
